@import "_variables", "_media";

body {
  font-family: $font-family-base;
  background-color: #000;
}

.container {
  margin: 0 auto;
  padding-inline: 15px;
  max-width: 1230px;
  width: 100%;
}

.button {
  height: 42px;
  border-radius: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__nav {
    @include mobile {
      display: none;
    }

    &-list {
      display: flex;
    }

    &-item {
      margin-inline: 32px;
      font-size: 15px;
      line-height: 20px;
      color: #fff;

      @include tablet {
        margin-inline: 18px;
        font-size: 12px;
      }
    }

    &-link {
      color: inherit;

      &:hover {
        color: #e8e8e8;
      }
    }

    &.open {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #363636;

      & .header__nav-list {
        text-align: center;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  &__button {
    padding-inline: 20px;
    background-color: #fff;
    color: black;

    @include mobile {
      display: none;
    }

    &:hover {
      background-color: #e8e8e8;
    }
  }

  &__burger {
    @include mobile-above {
      display: none;
    }

    position: relative;
    width: 25px;

    & span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #c0c0c0;
      border-radius: 5px;
      margin: 6px 0;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }

    &.open {
      span:nth-child(2) {
        transform: scale(0);
      }

      span:first-child {
        transform: translateY(8px) rotate(135deg);
      }

      span:last-child {
        transform: translateY(-8px) rotate(-135deg);
      }
    }
  }
}

.hero {
  padding-bottom: 40px;
  background-image: url(./../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__text {
    padding: 20px 10px 10px 10px;
    margin-top: 446px;
    margin-inline: auto;
    text-align: center;
    color: #fff;
    max-width: 600px;
    width: 100%;
  }

  &__solution {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #c0c0c0;
    text-transform: uppercase;
  }

  &__title {
    font-size: 54px;
    line-height: 60px;
  }

  &__info {
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
    color: #c0c0c0;
  }
}

.photo {
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
  line-height: 12px;
  font-size: 12px;
  color: #fff;
  gap: 16px;

  &__delay,
  &__focus,
  &__iso,
  &__geo {
    display: flex;
    gap: 6px;
  }
}

.wedo {
  padding-top: 122px;
  padding-bottom: 98px;
  color: #fff;
  text-align: center;

  @include tablet {
    padding-top: 70px;
    padding-bottom: 60px;
  }

  @include mobile {
    padding-top: 35px;
    padding-bottom: 30px;
  }

  &__title {
    font-size: 40px;
    line-height: 42px;
  }

  &__text {
    margin-top: 15px;
    font-size: 23px;
    line-height: 30px;
    color: #c0c0c0;
  }

  &__row {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 16px;

    @include desktop {
      justify-content: center;
    }
  }

  &__item {
    padding-inline: 30px;
    padding-bottom: 30px;
    max-width: 576px;
    width: 100%;
    text-align: start;
    background-size: cover;
    background-position: center;

    &-title {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    &-text {
      margin-bottom: 17px;
      font-size: 14px;
      line-height: 20px;
      color: #c0c0c0;
    }
  }
  &__item:first-child {
    background-image: url(./../images/wedo/1.jpg);
    padding-top: 421px;
  }

  &__item:nth-child(2) {
    background-image: url(./../images/wedo/2.jpg);
    padding-top: 421px;
  }

  &__item:nth-child(3) {
    background-image: url(./../images/wedo/3.jpg);
    padding-top: 401px;
  }

  &__item:nth-child(4) {
    background-image: url(./../images/wedo/4.jpg);
    padding-top: 401px;
  }

  &__button {
    position: relative;
    padding-right: 10px;
    padding-left: 42px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000;
    background-color: #fff;

    &::before {
      position: absolute;
      content: "";
      width: 32px;
      height: 32px;
      background-color: #000;
      border-radius: 35%;
      left: 4px;
      top: 5px;
    }

    &:hover {
      background-color: #e8e8e8;
    }
  }
}

.japan {
  background-image: url(./../images/japan-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 577px;
  padding-bottom: 40px;
  //   padding-right: 40px;
  //   padding-bottom: 40px;
}

.tools {
  display: flex;
  justify-content: space-between;
  color: #fff;

  @include desktop {
    position: relative;
  }

  @include mobile {
    background-image: url(./../images/tools.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__info {
    margin: 113px 60px;
    padding: 60px 40px 44px 40px;
    text-align: start;
    max-width: 600px;
    width: 100%;

    @include desktop {
      padding: 60px 10px 44px 10px;
      width: auto;
    }

    @include mobile {
      margin-inline: 10px;
      padding: 10px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__specification {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #c0c0c0;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 6px;
    font-size: 28px;
    line-height: 32px;
  }

  &__text {
    margin-top: 14px;
    max-width: 514px;
    font-size: 14px;
    line-height: 20px;

    @include mobile {
      padding: 10px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__image {
    padding-top: 484px;
    background-image: url(./../images/tools.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 720px;
    width: 100%;

    @include mobile {
      background-image: none;
      width: auto;
    }
  }

  &__photo {
    @include desktop {
      position: absolute;
      margin: 0;
      right: 40px;
      bottom: 40px;
    }
  }
  &__button {
    margin-top: 20px;
    position: relative;
    padding-left: 42px;
    padding-right: 10px;
    color: #000;
    background-color: #fff;

    @include mobile {
      align-items: center;
      display: flex;
    }

    &::before {
      position: absolute;
      content: "";
      width: 32px;
      height: 32px;
      background-color: #000;
      border-radius: 35%;
      left: 4px;
      top: 5px;
    }

    &:hover {
      background-color: #e8e8e8;
    }
  }
}

.monstera {
  display: flex;
  flex-direction: column;
  gap: 237px;
  align-items: flex-end;
  padding-top: 260px;
  padding-bottom: 40px;
  background-image: url(./../images/monstera.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__info {
    margin-right: 87px;
    max-width: 273px;
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #c0c0c0;
  }
}

.clients {
  padding-top: 120px;
  padding-bottom: 114px;
  text-align: center;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include mobile {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 42px;
    color: #fff;
  }

  &__text {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 30px;
    color: #c0c0c0;
  }

  &__row {
    padding-block: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @include desktop {
      gap: 50px 240px;
    }

    @include tablet {
      padding-block: 20px;
    }
  }
}

.star {
  display: flex;
  flex-direction: column;
  gap: 226px;
  align-items: flex-end;
  padding-top: 250px;
  padding-bottom: 40px;
  background-image: url(./../images/star.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__info {
    margin-right: 106px;
    max-width: 254px;
    width: 100%;
  }

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #fff;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #c0c0c0;
  }
}

.get {
  padding-top: 113px;
  padding-bottom: 100px;
  text-align: center;

  @include tablet {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    max-width: 600px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 42px;
    color: #fff;

    @include mobile {
      font-size: 30px;
    }
  }

  &__text {
    margin-top: 15px;
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 30px;
    color: #c0c0c0;

    @include mobile {
      font-size: 17px;
    }
  }

  &__button {
    position: relative;
    color: #000;
    background-color: #fff;
    padding-left: 42px;
    padding-right: 10px;

    &::before {
      position: absolute;
      content: "";
      width: 32px;
      height: 32px;
      background-color: #000;
      border-radius: 35%;
      left: 4px;
      top: 5px;
    }

    &:hover {
      background-color: #e8e8e8;
    }
  }
}

.footer {
  padding-block: 100px;

  @include tablet {
    padding-block: 50px;
  }

  @include mobile {
    padding-block: 10px;
    border-top: 2px solid #fff;
  }

  &__first {
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #c0c0c0;

    @include mobile {
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
    }
  }

  &__aperture {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include tablet {
      max-width: 300px;
    }

    @include mobile {
      text-align: center;
      align-items: center;
    }
  }

  &__menu {
    display: flex;
    gap: 16px;

    @include mobile {
      @include mobile {
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
      }
    }
  }

  &__pages {
    @include tablet {
      max-width: 120px;
    }
  }

  &__pages,
  &__business {
    width: 221px;

    &-list {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__business-title,
  &__pages-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  &__business-item {
    font-size: 14px;
    line-height: 20px;
  }

  &__pages-item {
    font-size: 13px;
    line-height: 20px;
  }

  &__business-link,
  &__pages-link {
    color: #fff;

    &:hover {
      color: #e8e8e8;
    }
  }

  &__second {
    padding-block: 36px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
  }

  &__form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: default;
  }

  &__input {
    position: relative;
    width: 458px;
    height: 52px;
    background-color: #fff;
    border-radius: 12px;
    padding-left: 10px;

    @include tablet {
      width: 400px;
    }

    @include mobile {
      position: unset;
    }

    @include mobile-s {
      width: 300px;
    }
  }

  &__button {
    position: absolute;
    width: 63px;
    height: 30px;
    border-radius: 11px;
    background-color: #000;
    color: transparent;
    right: 6px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #363636;
    }

    @include mobile {
      position: relative;
      width: 120px;
      height: 42px;
      padding-left: 42px;
      padding-right: 10px;
      background-color: #fff;
      color: #000;

      &::before {
        position: absolute;
        content: "";
        width: 32px;
        height: 32px;
        left: 6px;
        top: 5px;
        background-color: #000;
        border-radius: 35%;
      }
    }
  }

  &__third {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      gap: 20px;
      align-items: flex-end;
      text-align: center;
      flex-direction: column;
      margin-top: 20px;
    }
  }

  &__copyright {
    font-size: 14px;
    line-height: 20px;
    color: #c0c0c0;
  }

  &__media {
    display: flex;
    gap: 20px;
  }
}

.label__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.label__text {
  font-size: 13px;
  line-height: 20px;
  color: #c0c0c0;
}
